<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CMPE273Videolibraryclient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LibraryJSP/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LibraryJSP/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/LibraryJSP/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMovie</display-name>
    <servlet-name>DisplayMovie</servlet-name>
    <servlet-class>Servlet.DisplayMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMovie</servlet-name>
    <url-pattern>/DisplayMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUser</display-name>
    <servlet-name>DisplayUser</servlet-name>
    <servlet-class>Servlet.DisplayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUser</servlet-name>
    <url-pattern>/DisplayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetails</display-name>
    <servlet-name>MovieDetails</servlet-name>
    <servlet-class>servlet.MovieDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetails</servlet-name>
    <url-pattern>/LibraryJSP/MovieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecideAction</display-name>
    <servlet-name>DecideAction</servlet-name>
    <servlet-class>servlet.DecideActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecideAction</servlet-name>
    <url-pattern>/LibraryJSP/DecideAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMovie</display-name>
    <servlet-name>AddNewMovie</servlet-name>
    <servlet-class>servlet.AddNewMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMovie</servlet-name>
    <url-pattern>/LibraryJSP/AddNewMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovie</display-name>
    <servlet-name>UpdateMovie</servlet-name>
    <servlet-class>servlet.UpdateMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovie</servlet-name>
    <url-pattern>/LibraryJSP/UpdateMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovie</display-name>
    <servlet-name>DeleteMovie</servlet-name>
    <servlet-class>servlet.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovie</servlet-name>
    <url-pattern>/LibraryJSP/DeleteMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/LibraryJSP/AddToCart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RetrieveCart</display-name>
    <servlet-name>RetrieveCart</servlet-name>
    <servlet-class>servlet.RetrieveCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCart</servlet-name>
    <url-pattern>/LibraryJSP/RetrieveCart</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>AddBalance</display-name>
    <servlet-name>AddBalance</servlet-name>
    <servlet-class>servlet.AddBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBalance</servlet-name>
    <url-pattern>/LibraryJSP/AddBalance</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/LibraryJSP/Checkout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ListAllPremiumMembers</display-name>
    <servlet-name>ListAllPremiumMembers</servlet-name>
    <servlet-class>servlet.ListAllPremiumMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllPremiumMembers</servlet-name>
    <url-pattern>/LibraryJSP/ListAllPremiumMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllSimpleMembers</display-name>
    <servlet-name>ListAllSimpleMembers</servlet-name>
    <servlet-class>servlet.ListAllSimpleMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllSimpleMembers</servlet-name>
    <url-pattern>/LibraryJSP/ListAllSimpleMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllMembers</display-name>
    <servlet-name>ListAllMembers</servlet-name>
    <servlet-class>servlet.ListAllMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllMembers</servlet-name>
    <url-pattern>/LibraryJSP/ListAllMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllMovies</display-name>
    <servlet-name>ListAllMovies</servlet-name>
    <servlet-class>servlet.ListAllMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllMovies</servlet-name>
    <url-pattern>/LibraryJSP/ListAllMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchMovieCategory</display-name>
    <servlet-name>FetchMovieCategory</servlet-name>
    <servlet-class>servlet.FetchMovieCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchMovieCategory</servlet-name>
    <url-pattern>/LibraryJSP/FetchMovieCategory</url-pattern>
  </servlet-mapping>
</web-app>